@import "../../sass/_mixins.scss";

.column {
    float: left;
    text-decoration: none;
    width: 20%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */

    h1 {
      margin-left: 1.5rem;
        font-size: 1.5rem;
        text-align: center;
    }
    ul {
        color: grey;
        margin-right: 3rem;
        text-decoration: none;
        list-style-type: none;
        
    }
    p {
        color: grey;

    }
    @include respond(phone) {
      display: inline-block;
      text-align: center;
      text-decoration: none;
        width: 40%;
        height: 10rem;

    }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.icons {
    font-size: 2rem;
    padding: 1rem;
}
